<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="fr"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="fr"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="fr"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="fr"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />

	<title>Welcome to Mtcommande</title>
	<link rel="stylesheet" href="css/foundation.css">
	<link rel="stylesheet" href="css/app.css">
	<link rel="stylesheet" href="css/foundation-icons-general-enclosed.css">
	<link rel="stylesheet" href="css/foundation-icons-social.css">
	<link rel="stylesheet" href="css/responsive-tables.css">
	<!--link rel="stylesheet" href="css/orbit-1.3.0.css"-->
	<!--[if lt IE 9]>
		<link rel="stylesheet" href="css/ie.css">
	<![endif]-->
	
	<script src="javascripts/modernizr.foundation.js"></script>
	<script src="javascripts/jquery.min.js"></script>
	<script type='text/javascript' src='javascripts/jquery.orbit-1.3.0.min.js'></script>
	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<script src="javascripts/foundation.js"></script>
	<script src="javascripts/app.js"></script>
	<script src="stylesheet" href="javascripts/responsive-tables.js"</script>
	 <script type="text/javascript">
        $(document).ready(function() {
        });
        </script>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="five columns">
				&nbsp;
			</div>
			<div class="five columns headinfos">
				<ul class="social-share">
					<li>Partager-nous sur :</li>
					<li><a href=""><span class="glyph social">d</span> Facebook</a></li>
					<li><a href=""><span class="glyph social">e</span> Twitter</a></li>
					<li><a href=""><span class="glyph social">l</span> Google +</a></li>
				</ul>
				 
			</div>
		</div>
		<div class="row">
			<div class="three columns">
				<div class="row">
					<div class="twelve columns">
						<h2 style="font-size:24px;">Mtcommande</h2>
						<p>Commande et livraison de course en ligne.</p>
					</div>
				</div>				
			</div>
			<div class="three columns">
				<form action="#" method="#" class="nice">
					<div class="row collapse">
						<div class="twelve columns">
							<label for="search">Mots : Steack haché...</label>
						</div>
					</div>
					<div class="row collapse">
						<div class="eight mobile-three columns">
							<input type="text" />
						</div>
						<div class="four mobile-one columns">
							<a href="#" class="postfix button"><span class="glyph general-enclosed">=</span> Ok</a>
						</div>
					</div>
				</form>
			</div>
			<div class="three columns">
				<div class="row account">
					<div class="twelve columns">
						<ul class="nav-bar">							
							<li class="has-flyout">
								<a href=""><span class="glyph social">x</span> Hello, Jean-françois</a>
								<a href="#" class="flyout-toggle"><span> </span></a>
								<ul class="flyout">
									<li><a href="#">Votre compte</a></li>
									<li><a href="#">Vos listes</a></li>
									<li><a href="#">Vos commandes</a></li>
									<li><a href="#">Vos listes</a></li>
									<li><a href="#">Vos adresses</a></li>
									<li><a href="#">Vos informations personnelles</a></li>
								</ul>
							</li>
						</ul>					
					</div>					
				</div>														
			</div>
			<div class="three columns">
				<div class="row cart">
					<div class="twelve columns">
						<ul class="nav-bar">							
							<li class="has-flyout">
								<a href="#"><span class="glyph general-enclosed">2</span> Panier - 1 article(s)</a>
								<a href="#" class="flyout-toggle"><span> </span></a>
								<ul class="flyout">
										<li>Expédition : 6.00€</li>
										<li>Taxe : 19.60€</li>
										<li>Total : 25.60€</li>								
										<li><a href="#" class="medium button">Commander</a></li>
								</ul>
							</li>
						</ul>					
					</div>					
				</div>														
			</div>
		</div>
		<div class="row">
			<div class="twelve columns">
				<ul class="nav-bar">
					<li><a href="#">A propos</a></li>
					<li class="has-flyout">
						<a href="#">Boucherie</a>
						<a href="#" class="flyout-toggle"><span> </span></a>
						<ul class="flyout">
							<li><a href="#">Boeuf</a></li>
							<li><a href="#">Porc</a></li>
							<li><a href="#">Agneau</a></li>
							<li><a href="#">Volaille</a></li>
						</ul>
					</li>
					<li class="has-flyout">
						<a href="#">Charcuterie</a>
						<a href="#" class="flyout-toggle"><span></span></a>
						<div class="flyout">
						Content...
						</div>
					</li>
					<li class="has-flyout">
						<a href="#">Traiteur</a>
						<a href="#" class="flyout-toggle"><span></span></a>
						<div class="flyout">
						Content...
						</div>
					</li>
					<li class="has-flyout">
						<a href="#">Buffet</a>
						<a href="#" class="flyout-toggle"><span></span></a>
						<div class="flyout">
						Content...
						</div>
					</li>
					<li class="has-flyout">
						<a href="#">Menus</a>
						<a href="#" class="flyout-toggle"><span></span></a>
						<div class="flyout">
						Content...
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="twelve columns">
				<ul class="breadcrumbs">
					<li><a href="#">Accueil</a></li>
					<li class="current"><a href="#">Mon panier</a></li>
				</ul>
			</div>
		</div>
		<div class="row">			
			<div class="twelve columns">				
				<fieldset> 
					<legend>Mon panier</legend>
					<table class="table_large">
						<tr>
							<th>View</th>
							<th>Produit</th>
							<th>Réf. </th>
							<th>Dispo. </th>
							<th>Qté</th>
							<th>&nbsp;</th>
							<th>&nbsp;</th>
							<th>P.U</th>
							<th>Total</th>
							<th>Supp</th>
						</tr>
						<tr>
							<td><img src="http://placekitten.com/g/40/40" alt="cat"/></td>
							<td >iPod shuffle</td>
							<td> -- </td>
							<td><span class="round label green">En stock!</span></td>
							<td>1</td>
							<td><a href="#"><img src="images/add.png" alt=""/></a></td>
							<td><a href="#"><img src="images/minus.png" alt=""/></a></a></td>								
							<td>79,00€</td>
							<td>79,00€</td>
							<td><a href="#"><img src="images/trash.png" alt=""/></a></td>
						</tr>
						<tr>
							<td><img src="http://placekitten.com/g/40/40" alt="cat"/></td>
							<td >iPod shuffle</td>
							<td> -- </td>
							<td><span class="round label green">En stock!</span></td>
							<td>1</td>
							<td><a href="#"><img src="images/add.png" alt=""/></a></td>
							<td><a href="#"><img src="images/minus.png" alt=""/></a></a></td>								
							<td>79,00€</td>
							<td>79,00€</td>
							<td><a href="#"><img src="images/trash.png" alt=""/></a></td>
						</tr>
						<tr>
							<td><img src="http://placekitten.com/g/40/40" alt="cat"/></td>
							<td >iPod shuffle</td>
							<td> -- </td>
							<td><span class="round label green">En stock!</span></td>
							<td>1</td>
							<td><a href="#"><img src="images/add.png" alt=""/></a></td>
							<td><a href="#"><img src="images/minus.png" alt=""/></a></a></td>								
							<td>79,00€</td>
							<td>79,00€</td>
							<td><a href="#"><img src="images/trash.png" alt=""/></a></td>
						</tr>						
					</table>
					<br />
				</fieldset>				
			</div>
		</div>		
		<div class="row">
			<div class="twelve columns"><span class="round label blue"><a href="#" class="color_white">Revenir à la boutique</a></span></div>
		</div>
		<div class="row">
			<div class="twelve columns"><hr /></div>
		</div>
		<div class="row">
			<div class="four columns">
				<h4>Contactez-nous</h4>
				<ul class="vcard" style="border:0px;">
					<li class="org"><strong>mtcommande.fr</strong></li>
					<li class="fn"><strong>Boucherie Maison Terrier</strong></li>
					<li class="adr">
					<li class="street-address">16, rue du Musée</li>
					<li>
							<span class="postal-code">59270</span> <span class="locality">Bailleul</span>,
							<span class="region">Nord</span>
					</li>
					<li class="country-name">France</li>
					<li>Tel: <span class="tel"> <a href="tel:0328492769">+33(0)3.28.49.27.69</a></span></li>
					<li>Email: <span class="email">contact@mtcommande.fr</span></li>
				</ul>
			</div>
			<div class="four columns">
				<h4>Informations</h4>
				<ul class="vcard" style="border:0px;">
					<li><a href="">Conditions d'utilisation</a></li>
					<li><a href="">A propos</a></li>
					<li><a href="">A propos</a></li>
					<li><a href="">Politique de confidentialité</a></li>
					<li><a href="">Droits de rétractation</a></li>
				</ul>
			</div>
			<div class="four columns">
				<h4>...</h4>
			</div>
		</div>
	</div>	
</body>
</html>
