<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="fr"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="fr"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="fr"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="fr"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />

	<title>Welcome to Mtcommande</title>
	<link rel="stylesheet" href="css/foundation.css">
	<link rel="stylesheet" href="css/app.css">
	<link rel="stylesheet" href="css/foundation-icons-general-enclosed.css">
	<link rel="stylesheet" href="css/foundation-icons-social.css">
	<!--link rel="stylesheet" href="css/orbit-1.3.0.css"-->
	<!--[if lt IE 9]>
		<link rel="stylesheet" href="css/ie.css">
	<![endif]-->
	
	<script src="javascripts/modernizr.foundation.js"></script>
	<script src="javascripts/jquery.min.js"></script>
	<script type='text/javascript' src='javascripts/jquery.orbit-1.3.0.min.js'></script>
	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<script src="javascripts/foundation.js"></script>
	<script src="javascripts/app.js"></script>
	 <script type="text/javascript">
        $(document).ready(function() {
            
        });
        </script>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="six columns">
				&nbsp;
			</div>
			<div class="six columns headinfos">
				<ul class="social-share">
					<li>Partager-nous sur :</li>
					<li><a href=""><span class="glyph social">d</span> Facebook</a></li>
					<li><a href=""><span class="glyph social">e</span> Twitter</a></li>
					<li><a href=""><span class="glyph social">l</span> Google +</a></li>
				</ul>				 
			</div>
		</div>
		<div class="row">
			<div class="three columns">
				<h2 style="font-size:24px;">Mtcommande</h2>
				<p>Commande et livraison de course en ligne.</p>			
			</div>
			<div class="three columns">
				<form action="#" method="#" class="nice">
					<div class="row collapse">
						<div class="twelve columns">
							<label for="search">Mots : Steack haché...</label>
						</div>
					</div>
					<div class="row collapse">
						<div class="eight mobile-three columns">
							<input type="text" />
						</div>
						<div class="four mobile-one columns">
							<a href="#" class="postfix button"><span class="glyph general-enclosed">=</span> Ok</a>
						</div>
					</div>
				</form>
			</div>
			<div class="three columns">
				<div class="row account">
					<div class="twelve columns">
						<ul class="nav-bar">							
							<li class="has-flyout">
								<a href=""><span class="glyph social">x</span> Identifiez-vous</a>
								<a href="#" class="flyout-toggle"><span> </span></a>
								<ul class="flyout">
									<li><a href="#">Votre compte</a></li>
									<li><a href="#">Vos commandes</a></li>
									<li><a href="#">Vos listes</a></li>
									<li><a href="#">Vos adresses</a></li>
									<li><a href="#">Vos informations personnelles</a></li>
								</ul>
							</li>
						</ul>					
					</div>					
				</div>														
			</div>
			<div class="three columns">
				<div class="row cart">
					<div class="twelve columns">
						<ul class="nav-bar">							
							<li class="has-flyout">
								<a href="#"><span class="glyph general-enclosed">2</span> Panier - 1 article(s)</a>
								<a href="#" class="flyout-toggle"><span> </span></a>
								<ul class="flyout">
										<li>Expédition : 6.00€</li>
										<li>Taxe : 19.60€</li>
										<li>Total : 25.60€</li>								
										<li><a href="#" class="medium button">Commander</a></li>
								</ul>
							</li>
						</ul>					
					</div>					
				</div>														
			</div>
		</div>
		<div class="row">
			<div class="twelve columns">
				<ul class="nav-bar">
					<li><a href="#">A propos</a></li>
					<li class="has-flyout">
						<a href="#">Boucherie</a>
						<a href="#" class="flyout-toggle"><span> </span></a>
						<ul class="flyout">
							<li><a href="#">Boeuf</a></li>
							<li><a href="#">Porc</a></li>
							<li><a href="#">Agneau</a></li>
							<li><a href="#">Volaille</a></li>
						</ul>
					</li>
					<li class="has-flyout">
						<a href="#">Charcuterie</a>
						<a href="#" class="flyout-toggle"><span></span></a>
						<div class="flyout">
						Content...
						</div>
					</li>
					<li class="has-flyout">
						<a href="#">Traiteur</a>
						<a href="#" class="flyout-toggle"><span></span></a>
						<div class="flyout">
						Content...
						</div>
					</li>
					<li class="has-flyout">
						<a href="#">Buffet</a>
						<a href="#" class="flyout-toggle"><span></span></a>
						<div class="flyout">
						Content...
						</div>
					</li>
					<li class="has-flyout">
						<a href="#">Menus</a>
						<a href="#" class="flyout-toggle"><span></span></a>
						<div class="flyout">
						Content...
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="twelve columns">
				<ul class="breadcrumbs">
					<li><a href="#">Accueil</a></li>
					<li class="unavailable"><a href="#">Authentification</a></li>
					<li class="unavailable"><a href="#">Create Account</a></li>
					<li class="current"><a href="#">Validation</a></li>
					<li class="unavailable"><a href="#">Paiement</a></li>
				</ul>
			</div>
		</div>
		<div class="row">			
			<div class="six columns">
					<fieldset> 
						<legend>Votre adresse de livraison</legend>					
						<h2>Matthieu Lamerant</h2>
						<p>16 rue du 1 novembre</p>
						<p>59000 Lille</p>
						<p>France</p>
						<p>0328491555</p>
						<a href="#">Mettre à jour</a>
						<br />
						<br />
					</fieldset>				
			</div>
			<div class="six columns">
					<fieldset> 
						<legend>Votre adresse de facturation</legend>					
						<h2>Matthieu Lamerant</h2>
						<p>16 rue du 1 novembre</p>
						<p>59000 Lille</p>
						<p>France</p>
						<p>0328491555</p>
						<a href="#">Mettre à jour</a>
						<br />
						<br />
					</fieldset>				
			</div>
		</div>
		<div class="row">
			<div class="twelve columns">
				<fieldset> 
					<legend>Valider vos adresses de livraison et de facturation.</legend>	
					<form class="custom">
						<div class="row collapse">
							<div class="three columns">
								<label for="checkbox3">
								  <input type="checkbox" id="checkbox3" style="display: none;" checked="checked">
								  <span class="custom checkbox checked"></span> Utiliser la même adresse pour la facturation
								</label>
							</div>
							<div class="six columns">
								<label for="customDropdown">Choisissez une de vos adresses de livraison : </label>
								<select style="display:none;" id="customDropdown">
								  <option SELECTED>choisir...</option>
								  <option >Mon adresse1</option>
								</select>
							</div>
							<div class="three columns">
								<label for="customDropdown">Ajoutez une nouvelle adresse </label>
								<a href="">Ajoutez</a>
							</div>
						</div>
						<p>Si vous voulez nous laisser un message à propos de votre commande, merci de l'écrire ici.</p>
						<textarea>
						</textarea>
					</form>
				</fieldset> 
			</div>
		</div>
		<div class="row">
			<div class="twelve columns">
				<fieldset> 
					<legend>Frais de port</legend>	
					<form class="custom">							
						<label for="customDropdown">Choisissez votre mode de livraison </label>
						<label for="radio1">
							<input name="radio1" type="radio" id="radio1" style="display:none;"  checked=" checked">
							<span class="custom radio checked"></span> Réception en magasin 
						</label>
						<label for="radio2">
							<input name="radio1" type="radio" id="radio2" style="display:none;">
							<span class="custom radio"></span> Livraison à domicile
						</label>
						<label for="checkbox3">
						  <input type="checkbox" id="checkbox2" style="display: none;" checked="checked">
						  <span class="custom checkbox checked"></span> J'accepte de recevoir ma commande dans un emballage recyclé.
						</label>
						<h5>Conditions générales de vente</h5>
						<label for="checkbox3">
						  <input type="checkbox" id="checkbox1" style="display: none;" checked="checked">
						  <span class="custom checkbox checked"></span> J'ai lu les conditions générales de vente et j'y adhère sans réserve. (<a href="#">lire</a>)
						</label>
						<br />
						<input type="submit"  class="large radius button" />
					</form>
				</fieldset> 
			</div>
		</div>
		<div class="row">
			<div class="twelve columns"><hr /></div>
		</div>
		<div class="row">
			<div class="four columns">
				<h4>Contactez-nous</h4>
				<ul class="vcard" style="border:0px;">
					<li class="org"><strong>mtcommande.fr</strong></li>
					<li class="fn"><strong>Boucherie Maison Terrier</strong></li>
					<li class="adr">
					<li class="street-address">16, rue du Musée</li>
					<li>
							<span class="postal-code">59270</span> <span class="locality">Bailleul</span>,
							<span class="region">Nord</span>
					</li>
					<li class="country-name">France</li>
					<li>Tel: <span class="tel"> <a href="tel:0328492769">+33(0)3.28.49.27.69</a></span></li>
					<li>Email: <span class="email">contact@mtcommande.fr</span></li>
				</ul>
			</div>
			<div class="four columns">
				<h4>Informations</h4>
				<ul class="vcard" style="border:0px;">
					<li><a href="">Conditions d'utilisation</a></li>
					<li><a href="">A propos</a></li>
					<li><a href="">A propos</a></li>
					<li><a href="">Politique de confidentialité</a></li>
					<li><a href="">Droits de rétractation</a></li>
				</ul>
			</div>
			<div class="four columns">
				<h4>...</h4>
			</div>
		</div>
	</div>	
</body>
</html>
